<div class="show-comment">
	
	<%= form_for [@idea, @idea.comments.build] do |f| %>
	<%= image_tag current_user.image, height:40, width:40  %><br>
	
	
		<%= f.text_area :body ,size:"60x5" %><br>
			<%= f.submit 'IDEAIN'%>
		<% end %>
</div>