<div class="header-b">
	<h3>IDEANOTE</h3>
	<font face="fantasy">
それは日頃から浮かんでくるアイディアを投稿し一人では<br>
改善できない物をミクロで見てマクロにしてアイディアの力を最大限に引き上げる<br>
一人一人の意見を尊重し必要となる物を徹底的に計測する<br>
意見のやり取りによってよりよいスタートを切るために。。。</font>
</div>